/* line 14, ../scss/canny.scss */
.canny {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: #404040;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  /* line 14, ../scss/canny.scss */
  .canny {
    width: 290px;
  }
}
/* line 35, ../scss/canny.scss */
.canny.canny-align-left {
  opacity: 1;
  left: -400px;
}
/* line 40, ../scss/canny.scss */
.canny.canny-align-right {
  opacity: 1;
  right: -400px;
}
/* line 45, ../scss/canny.scss */
.canny a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 13px 20px 11px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
/* line 58, ../scss/canny.scss */
.canny a:hover {
  background-color: #0d0d0d;
}

/* line 65, ../scss/canny.scss */
.canny-parent > a {
  position: relative;
}
/* line 68, ../scss/canny.scss */
.canny-parent > a:after {
  content: '\00BB';
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: inherit;
}
/* line 79, ../scss/canny.scss */
.canny-parent.canny-sub-open > a {
  position: relative;
}
/* line 82, ../scss/canny.scss */
.canny-parent.canny-sub-open > a:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 91, ../scss/canny.scss */
.canny-content-effects {
  /*@include transition(all, 300ms);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);*/
}

/* line 104, ../scss/canny.scss */
.canny-submenu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #272727;
  list-style: none;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
/* line 115, ../scss/canny.scss */
.canny-submenu.canny-sub-visible {
  display: block;
}

/* line 121, ../scss/canny.scss */
.canny-layered .canny-submenu {
  display: block;
  position: absolute;
  top: 0;
  left: -103%;
  z-index: 30;
  width: 98%;
  min-height: 100%;
  -webkit-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
}
/* line 134, ../scss/canny.scss */
.canny-layered .canny-submenu.canny-sub-visible {
  left: 0;
}
/* line 138, ../scss/canny.scss */
.canny-layered .canny-submenu a {
  color: #404040;
}
/* line 141, ../scss/canny.scss */
.canny-layered .canny-submenu a:hover {
  background-color: #404040;
}
/* line 147, ../scss/canny.scss */
.canny-layered ul {
  background-color: #737373;
}
/* line 150, ../scss/canny.scss */
.canny-layered ul a {
  border-bottom: solid 1px #545454;
}
/* line 154, ../scss/canny.scss */
.canny-layered ul ul {
  background-color: #a6a6a6;
}
/* line 157, ../scss/canny.scss */
.canny-layered ul ul a {
  border-bottom: solid 1px #737373;
}

/* line 177, ../scss/canny.scss */
.canny .canny-close {
  text-align: right;
  cursor: pointer;
}

/* line 187, ../scss/canny.scss */
#canny-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 99;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
/* line 202, ../scss/canny.scss */
#canny-overlay.fading-in, #canny-overlay.visible {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}
/* line 210, ../scss/canny.scss */
#canny-overlay.fading-out {
  opacity: 0;
}
