/* line 8, ../scss/demo.scss */
html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #27151a;
}

/* line 19, ../scss/demo.scss */
h1, h2 {
  color: #d3865a;
}

/* line 23, ../scss/demo.scss */
code {
  font-weight: normal;
}

/* line 27, ../scss/demo.scss */
pre {
  width: 100%;
  padding: 10px 20px;
  border: solid 1px #b6b6b6;
  box-shadow: 5px 5px 0 #ccc;
}

/* line 34, ../scss/demo.scss */
.header {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  background-color: #d3865a;
}
@media (max-width: 767px) {
  /* line 34, ../scss/demo.scss */
  .header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
  }
}

/* line 48, ../scss/demo.scss */
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 0 20px;
}
@media (max-width: 767px) {
  /* line 48, ../scss/demo.scss */
  .content {
    width: auto;
    padding: 30px 20px 0;
  }
}

/* line 59, ../scss/demo.scss */
.offcanvas-container {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #fff;
  border: solid 1px #000;
}
@media only screen and (max-width: 767px) {
  /* line 59, ../scss/demo.scss */
  .offcanvas-container {
    width: auto;
  }
}
/* line 71, ../scss/demo.scss */
.offcanvas-container p {
  padding: 0 20px;
}
/* line 75, ../scss/demo.scss */
.offcanvas-container .container-header {
  width: 100%;
  height: 30px;
  background-color: #000;
}
/* line 81, ../scss/demo.scss */
.offcanvas-container .canny-content-toggle2 {
  float: right;
}
/* line 85, ../scss/demo.scss */
.offcanvas-container .canny {
  top: 0;
  width: 150px;
  padding: 10px;
  background-color: #000;
}

/* line 97, ../scss/demo.scss */
.canny {
  top: 30px;
  bottom: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  background-color: #d3865a;
}
/* line 105, ../scss/demo.scss */
.canny.canny-align-top {
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
}
/* line 112, ../scss/demo.scss */
.canny a {
  padding: 13px 20px 11px;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
/* line 121, ../scss/demo.scss */
.canny a:hover {
  background-color: #9d542a;
}

/* line 129, ../scss/demo.scss */
.canny-parent:not(.with-toggle) > a {
  position: relative;
}
/* line 132, ../scss/demo.scss */
.canny-parent:not(.with-toggle) > a:after {
  content: '\00BB';
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: inherit;
}
/* line 143, ../scss/demo.scss */
.canny-parent:not(.with-toggle).canny-sub-open > a {
  position: relative;
}
/* line 146, ../scss/demo.scss */
.canny-parent:not(.with-toggle).canny-sub-open > a:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 155, ../scss/demo.scss */
.canny-parent.with-toggle {
  position: relative;
}

/* line 164, ../scss/demo.scss */
.canny-submenu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 42px;
  background: none transparent;
  border: 0;
  border-left: solid 1px #fff;
  color: #fff;
  cursor: pointer;
  outline: none;
}
/* line 178, ../scss/demo.scss */
.canny-submenu-toggle span:before {
  content: '\00BB';
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: inherit;
  transform-origin: center center;
}

/* line 193, ../scss/demo.scss */
.canny-sub-open .canny-sub-visible + .canny-submenu-toggle span:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 206, ../scss/demo.scss */
.canny-submenu {
  background-color: #c56935;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

/* line 215, ../scss/demo.scss */
.canny-layered .canny-submenu {
  -webkit-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
}

/* line 229, ../scss/demo.scss */
.canny-back button,
.canny-close button {
  width: 100%;
  height: 42px;
  background: none transparent;
  border: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
/* line 240, ../scss/demo.scss */
.canny-back button:hover,
.canny-close button:hover {
  background-color: #9d542a;
}

/* line 250, ../scss/demo.scss */
.canny-toggle {
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  margin-left: 20px;
  padding: 7px 20px 0;
  background-color: white;
  color: black;
  text-decoration: none;
}

/* line 265, ../scss/demo.scss */
#canny-overlay {
  top: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 269, ../scss/demo.scss */
#canny-overlay.fading-in {
  opacity: 1;
  transition: opacity 300ms, width 0s;
}
/* line 274, ../scss/demo.scss */
#canny-overlay.fading-out {
  opacity: 0;
  transition: opacity 300ms, width 0s 300ms;
}
