html,
body {
	counter-reset: sec;
	margin: 0;
	height: 100%;
	font-family: arial;
	font-size: 14px;
}

.container {
	overflow: auto;
	height: 100%;
	background-color: #238dab;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 101;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	background-color: black;
}

.content {
	padding: 60px 0 0 20px;

	@media only screen and (max-width: 767px) {
		width: auto;
		padding: 60px 20px 0;
	}
}

.offcanvas-container {
	overflow: hidden;
	position: relative;
	width: 600px;
	height: 300px;
	background-color: #fff;
	border: solid 1px #000;

	@media only screen and (max-width: 767px) {
		width: auto;
	}

	p {
		padding: 0 20px;
	}

	.container-header {
		width: 100%;
		height: 30px;
		background-color: #000;
	}

	.canny-content-toggle2 {
		float: right;
	}

	.canny {
		top: 0;
		width: 150px;
		padding: 10px;
		background-color: #000;
	}
}

// ========================================
//	CANNY THEME
// ========================================

$c_main: #404040;
$c_sub: darken($c_main, 10);
$c_sub_layer: lighten($c_main, 20);

.canny {
	//top: 60px; // .canny-align-left and .canny-align-right
	//bottom: 0; // .canny-align-left and .canny-align-right
	//width: 400px; // .canny-align-left and .canny-align-right

	margin: 0;

	z-index: 100; // .canny-align-top
	width: 100%; // .canny-align-top
	margin-top: 60px;  // .canny-align-top

	padding: 0;
	background-color: $c_main;

	a {
		padding: 13px 20px 11px;
		font: {
			size: 16px;
			weight: normal;
		}
		text-decoration: none;
		color: #fff;

		&:hover {
			background-color: darken($c_main, 20);
		}
	}
}

.canny-parent {
	&:not(.with-toggle) {
		& > a {
			position: relative;

			&:after {
				content: '\00BB';
				position: absolute;
				top: 10px;
				right: 20px;
				font-size: 20px;
				color: inherit;
			}
		}

		&.canny-sub-open {
			& > a {
				position: relative;

				&:after {
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					transform: rotate(90deg);
				}
			}
		}
	}

	&.with-toggle {
		position: relative;
	}
}

// ========================================
//	CANNY SUBMENU TOGGLE
// ========================================

.canny-submenu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 42px;
	background: none transparent;
	border: 0;
	border-left: solid 1px #fff;
	color: #fff;
	cursor: pointer;
	outline: none;

	span {
		&:before {
			content: '\00BB';
			position: absolute;
			top: 10px;
			right: 20px;
			font-size: 20px;
			color: inherit;
			transform-origin: center center;
		}
	}
}

.canny-sub-open {
	.canny-sub-visible + .canny-submenu-toggle {
		span {
			&:before {
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}
}

// ========================================
//	SUBMENU
// ========================================

.canny-submenu {
	background-color: $c_sub;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

.canny-layered {
	.canny-submenu {
		-webkit-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
		-o-box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);
		box-shadow: 6px 0 10px rgba(0, 0, 0, 0.4);

		a {
			color: $c_main;

			&:hover {
				background-color: darken($c_sub_layer, 20);
			}
		}
	}

	ul {
		background-color: $c_sub_layer;

		a {
			border-bottom: solid 1px darken($c_sub_layer, 12);
		}

		ul {
			background-color: lighten($c_sub_layer, 20);

			a {
				border-bottom: solid 1px $c_sub_layer;
			}
		}
	}
}

// ========================================
//	CLOSE LINK
// ========================================

.canny {
	.canny-close {
		text-align: right;
		cursor: pointer;
	}
}

// ========================================
//	CANNY TOGGLE
// ========================================

.canny-toggle {
	display: inline-block;
	box-sizing: border-box;
	height: 60px;
	margin-left: 20px;
	padding: 22px 20px 0;
	background-color: white;
	color: black;
	text-decoration: none;
}

.navigation {
	list-style: none;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		float: left;
		margin-right: 20px;

		&:hover {
			ul {
				display: block;
			}
		}
	}

	a {
		font-size: 18px;
		color: #fff;
	}

	ul {
		display: none;
		position: absolute;

		li {
			float: none;
		}
	}
}